.cell {
  height: 30px;
  max-height: 30px;
  padding: 0px 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.display-border-left {
  /* border-left-width: 1px; */
  /* border-left-style: solid; */
}
